<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Andrey Bodoev</title>
	<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag "style" %>
	<%= csrf_meta_tag %>
	<% unless params["controller"] == "resume"%>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25505990-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<% end %>
</head>
<body>
	<!-- frappuccino, lingonberry jam -->
	<div id="page">
	<%= yield %>
	</div>
	<footer>
		<div id="toc">
			<div class="content">
				<h3>Table of Contents</h3>
				<ul>
					<li>
						<% if params["controller"] == 'main' %>
							Main page
						<% else %>
							<%= link_to 'Main page', :root %>
						<% end %>
					</li>
					<li>
					<% if params["controller"] == 'bookshelf' %>
						Bookshelf
					<% else %>
						<%= link_to 'Bookshelf', bookshelf_path %>
					<% end %>
					</li>
				</ul>
			</div>
		</div>
		<div id="qr">
			<img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=Andrey%20Bodoev.%20Web%20developer.%20Drop%20me%20a%20line:%20andreybodoev@gmail.com&choe=UTF-8" alt="Andrey Bodoev" />
		</div>
		<div id="copyright">
			<small>
				&copy; 2011 Andrey Bodoev. This site was made by Hypnotoad
			</small>
			<br />
			<small>
				Drop me a line: <a href="mailto:andreybodoev@gmail.com">andreybodoev@gmail.com</a>
			</small>
		</div>
	</footer>
	<%= debug(params) if Rails.env.development? %>
	<% unless params["controller"] == 'resume' %>
	<!-- Yandex.Metrika counter -->
	<div style="display:none;"><script type="text/javascript">
	(function(w, c) {
	    (w[c] = w[c] || []).push(function() {
	        try {
	            w.yaCounter9717811 = new Ya.Metrika({id:9717811, enableAll: true});
	        }
	        catch(e) { }
	    });
	})(window, "yandex_metrika_callbacks");
	</script></div>
	<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
	<noscript><div><img src="//mc.yandex.ru/watch/9717811" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->		
	<% end %>
</body>
</html>